extends base

mixin navItem(link, text, icon, active)
    li(class=`${active ? 'side-nav--active' : ''}`)
        a(href=`${link}`)
            svg
                use(xlink:href=`img/icons.svg#icon-${icon}`)
            | #{text}

block content 
    main.main
        .user-view
            nav.user-view__menu
                ul.side-nav
                    +navItem('/me', 'Settings', 'settings')
                    +navItem('/my-tours', 'My bookings', 'briefcase', true)
                    +navItem('#', 'My reviews', 'star')
                    +navItem('#', 'Billing', 'credit-card')

                - if (user.role === 'admin')
                    .admin-nav
                        h5.admin-nav__heading Admin
                        ul.side-nav
                            +navItem('#', 'Manage tours', 'map')
                            +navItem('#', 'Manage users', 'users')
                            +navItem('#', 'Manage reviews', 'star')
                            +navItem('#', 'Manage bookings', 'briefcase')

            .user-view__content
                .user-view__tour-container
                    h2.heading-secondary.ma-bt-md Tours Booked
                    form.form.form-user-data
                        .form__group

                            each tour in tours
                                .booked-tour-card
                                    .booked-card__picture
                                        .card__picture-overlay &nbsp;
                                        img.card__picture-img(src=`img/tours/${tour.imageCover}`, alt=`${tour.name}`)
                                    .booked-card__details
                                        p.booked-card__name
                                            span= tour.name
                                        p.booked-card__text 
                                            span= `Price:   £${tour.price}`
                                        a.btn--green.btn--small.booking-btn(href=`/tour/${tour.slug}`)
                                        p.booked-card__text
                                            span= `Date booked: ${tour.startDates[0].toLocaleString('en-us', {dateStyle: 'long'})}`


